node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.migrations
migrations
*.local
*.env
.env*
.vscode
coverage
.tmp
.cache
**/dist/public
**/dist/*.map
**/.vite
**/.turbo
**/.next
**/.vercel
**/.DS_Store
